div#container div#main div.post,
div#container div#main ol.commentlist li,
div#container div#main div#respond
{
  background-color: #fff;
  color: #333;
}

div#container div#main div.post div.entry h1,
div#container div#main div.post div.entry h2,
div#container div#main div.post div.entry h3,
div#container div#main div.post div.entry h4,
div#container div#main div.post div.entry h5,
div#container div#main div.post div.entry h6 {
  color: #333;
}

div#container div#main div.post div.title h1 a,
div#container div#main div.post div.title h2 a,
div#container div#main div.post div.title h3 a,
div#container div#main div.post div.title h4 a,
div#container div#main div.post div.title h5 a,
div#container div#main div.post div.title h6 a {
  color: #ff5a00;
}

div#container div#main div.post .wp-caption {
  background-color: #fff;
}

div#container div#main div.post .wp-caption-text {
  color: #333;
}

div#main div.post strong {
  color: #000;
}